* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: #2e2a2a url("../img/Endless-Constellation.svg") fixed;
    color: whitesmoke;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
    font-size: 14px;
  }

  /* se a tela tiver pelo menos 400px vai carregar estes estilos*/
  @media (min-width: 400px) {
    body {
      font-size: 16px;
    }
  }

  /* breakpoint */
  @media (min-width: 600px) {
    body {
      font-size: 20px;
    }
  }

  header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .menu {
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: rgba(245, 245, 245, 0.2);
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  .menu a {
    display: block;
    padding: 10px 20px;
    transition: all 0.2s ease;
  }
  
  a {
    color: whitesmoke;
    text-decoration: none;
    transition-delay: 0.1s;
  }

  a:hover {
    background-color: #BF2E2E;
  }
  .site-subtitle,
  .site-title {
    color: whitesmoke;
    text-align:center;
  }
  
  .site-title {
    font-size: 4em;
    text-shadow: 5px 5px 5px  black;
  }

  .site-subtitle {
    font-style: italic;
    font-family: 'Turret Road', cursive;
  }
  
  .projetos {
    padding: 2em;
    height: 100vh;
  }
  
  .projetos h2 {
    margin-bottom: 1em;
  }

  .projetos .grid {
    display: grid;
    gap: 1.5em;
    align-items: center;
  }

  @media (min-width: 560px) {
    .projetos .grid {
      grid-template-columns: 240px 240px;
    }  
  }

  @media (min-width: 880px) {
    .projetos .grid {
      grid-template-columns: repeat(3, 240px);
      justify-content: center;
    }  
  }

  .projetos figure {
    text-align: center;
  }

  .img-portfolio {
    height: 180px;
    width: 240px;
  }